@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*color: white;*/
}
body{
    font-family: 'Muli', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
}
.bar{
    background-attachment: fixed;
    background-image: url(../images/pizza4.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: floralwhite;
}
.choise{
    display: none;
    padding-left: 2%;
    padding-right: 2%;
}
.deliver{
    display: none;
}
.delivery{
    display: none;
    padding-left: 10%;
    padding-right: 10%;
}
td,th{
    font-size: 20px;
    color: white;
}
.choise h2{
    color:orange;
    text-align: left;
}
#your-orders{
    color: white;
    font-size: 30px;
}

#contact h2{
    text-align: center;
}
#contact{
    color: black;
    background-color: #f2f2f2;
}

.footer{
    padding-top: 5%;
}
#addedprice{
    display: none;
}
#finallmessage{
    display: none;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 28px;
}
#regards{
    text-align: center;
    color: aliceblue;
}
li {
    list-style: none;
    justify-content: space-around;
    margin-right: 80px;
}

.navbar {
    background-color: rgb(5,5,7);
    float: right;
    overflow: hidden;
    text-decoration: none;
    display: inline-flex;
    font-size: x-large;
    color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    justify-content: space-between;
    margin-top: -100px;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}
.home {
    margin-right: 20px;
    padding: 20px;
    
}

.firstdiv {
    display:flex;
    padding: 10px;
    margin: 30px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

#button, #final-order, #checkout {
    border-color: rgb(255, 166, 0);
    height: 50px;
    width: 120px;
    font-size: 15px;
    background-color: #FFA500;
    color: white;
    margin-top: 90px;
    border-radius: 45% 45% 0% 45%;
 
}
.home {
    margin-right: 20px;
    padding: 20px;
    
}
.order{
    display: none;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    padding-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 5%;
    padding-left: 6%;
    color: floralwhite;
}

.button {
    cursor: pointer;
}
.rain {
    padding-left: 20px;
    align-items: center;
    font-size: 30px;
    color: whitesmoke;
}
.brand{
    display: flex;
    font-family: "helvetica";
    margin-right: 60px;
    align-items: center;
    font-weight: bolder;
    color: whitesmoke;
}
#menu{
    color: black;
    background-color: #f2f2f2;
}
#ordering{
    height: 100vh;
    width: 100%;
    background-image: url("../images/pizza5.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#bounce {
    animation: bounce 3s infinite;
    padding-top:20%;
    color: #e23e57;
}
.deliveries {
    display: flex;
    float: left;
    padding: 10px 10px 10px 10px;
    height:100%;
    background-color: #f2f2f2;
}

#about{
    background-color: #f2f2f2;
}
.about-text {
    border: 1.5px solid rgb(255,165,0);
    padding: 10px;
    margin: 20px;
    float: left;
    width: 30%;
    text-align: center;
    border-radius: 25px;
}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-55px);
    }

    60% {
        transform: translateY(-45px);
    }
}
